// .gitignore
_ignore/

# Cache files  
.eslintcache
.npm
*.tsbuildinfo
__pycache__/

# Directories
## This is the build process will output code.
dist/
public/script/

## No external packages
node_modules/

# Env files      
## A good safeguard against accidentally publishing
##  private information, including security keys
.vscode/
.env.           
.env.test

# Logs
*.log logs npm-debug.log*

# Misc files
## experiments and references _ignore/        
## Macs often create this file
.DS_Store       
## Personal project notes, not my reference notes.md

# EXPERt output directories
/profiles
/runs

# sourcemaps
*.map

