
{% extends "task_base_layout.html.jinja" %}

{% set task_script = 'thankyou' %}

{% block task_content %}
    <div id="task">
        Thank you for your participation in this experiment.
    </div>
{% endblock %}
