
{% extends "task_base_layout.html.jinja" %}

{% block task_content %}
    <div id="task">
      

        <p>
            In this part of the experiment you will be learning names of cities in two different countries. On each screen, you will hear the name of a city and see the flag of the country that this city is in. Press “Play” if you want to listen to the name of a city again, then press “Next" to continue to the next trial. In the second half of the experiment you will hear new names of cities and will have to decide what country they belong to. 
        </p>

       

        <p>
            When you're ready to proceed 
            please click <b>Next</b>.
        </p>
    </div>
{% endblock %}
