
{% extends "task_base_layout.html.jinja" %}

{% block task_content %}
    <div id="task">
       
<p>
In this part of the experiment you will be learning names of cities in two different countries. On each screen, you will hear the name of a city and see the flags of two different countries. Press “Play” if you want to hear the name of a city again. Click on the flag to match the city to a country. You will be given feedback to confirm that you are right or wrong. When you are done, press “Next" to continue. At first, you might be guessing, but overtime you might develop an intuition or a rule for predicting which city name goes with which country. 

</p>
        <p>
            When you're ready to try these instructions on a practice word,
            please click <b>Next</b>.
        </p>
    </div>
{% endblock %}
