
{% extends "task_base_layout.html.jinja" %}

{% set task_script = 'listen' %}

{% block task_content %}
    <div id="task">
        <div id="prompt">
            Listen to a word from the language
            of one of two countries. The flag of the country is shown below.
            When you are done, click <b>Next</b> to continue.
        </div>
        <div id="play-btn-wrapper">
            <button type="button" class="play-btn">
                <span id="play-btn-label">Play</span>
                <img src="{{ exp_img }}/play.svg">
            </button>
        </div>
        <div id="country-flag-wrapper">
        </div>
    </div>
{% endblock %}
