
{% extends "task_base_layout.html.jinja" %}

{% set task_script = 'twoafc' %}

{% block task_content %}
    <div id="task">
        <div id="prompt">
            Press <b>Play</b> to hear the name
            of a city. Then, click a picture to select the
            means of transport you would
            take to reach that city.
            {% if fback %}
                Check the feedback you get to see if you
                were right, then press <b>Next</b> to continue.
            {% else %}
                When you are done, press <b>Next</b> to continue.
            {% endif %}
        </div>
        <div id="play-btn-wrapper">
            <button type="button" id="play-btn" class="play-btn">
                Play <img src="{{ exp_img }}/play.svg">
            </button>
        </div>
        <div id="images-wrapper">
            <div class="transport-img">
                <img id="transport-img1" src="{{ exp_app_img }}/train.jpg">
                Newtonia
            </div>
            <div class="transport-img">
                <img id="transport-img2" src="{{ exp_app_img }}/boat.jpg">
                Olden Isle
            </div>
        </div>
        <div id="feedback-wrapper">
            <div class="feedback-text hidden" id="feedback-correct">
                CORRECT <img src="{{ exp_img }}/check.svg">
            </div>
            <div class="feedback-text hidden" id="feedback-incorrect">
                INCORRECT <img src="{{ exp_img }}/x.svg">
            </div>
        </div>
    </div>
{% endblock %}
