
{% extends "task_base_qnaire.html.jinja" %}

{% block qnaire_header %}
    <h2>Exit questionnaire</h2>
    Please answer the following question, then click <b>Next</b>
    to receive your completion code.
{% endblock %}
