
{% extends "task_base_layout.html.jinja" %}

{% block task_content %}
    <div id="task">
        <h1>Introduction</h1>
        <p>
            Welcome! This experiment is about learning to recognize
            words in an artificial foreign language.
        </p>

        <p>
            To participate, you should be at least 18 years old, speak English
            as your first language, and have no diagnosed speech or
            hearing disorders.
            <p>

                <p>
                    The experiment needs a fast internet connection (we recommend at
                    least 3.2 Mbps download/1.44 Mbps upload).  It may not work
                    properly if you're using Safari on a Windows machine.
                    If you get stuck at any point because a picture is not
                    loading or you hear no sound, try your browser's <b>reload</b>
                    button.  The experiment does not display well on a phone;
                    please use a computer instead.
                </p>

                <p>
                    Please make sure you are in an environment where you can
                    pronounce words aloud.
                </p>

                <p>
                    There are two parts to this experiment.  In the first part,
                    you will learn words in the artificial language.
                    In the second, you will be tested on your knowledge
                    of the language.  The next screen will explain how
                    the first part works.
                </p>
            </p>
        </p>
    </div>
{% endblock %}
