
{% extends "task_base_consent.html.jinja" %}

{% block consent_form %}

    {#
    Enter consent form content below. The included stylesheet contains
    a class "field" for header fields, and class "qanda" for questions
    and answers.
    #}

    <div id="header">
        <h1>Consent for Participation</h1>
        <p>
            University of North Carolina at Chapel Hill<br>
            Consent to Participate in a Research Study<br>
            Adult Participants<br>
        </p>

        <p>
            <span class="field">Consent Form Version Date:</span>
            6/22/2020<br>
            <span class="field">IRB Study #</span>17-0567<br>
            <span class="field">Title of Study:</span>
            Inside phonological learning<br>
            <span class="field">Principal Investigator:</span>
            Katya Pertsova and Elliott Moreton<br>
        </p>
    </div>
   

    <div class="qanda">
        <h2>
            What are some general things you should know about
            research studies?
        </h2>
       You are being asked to take part in a research study. To join the study is voluntary. You may refuse to join, or you may withdraw your consent to be in the study, for any reason, without penalty.
Research studies are designed to obtain new knowledge. This new information may help people in the
future. You may not receive any direct benefit from being in the research study. There also may be risks to being in research studies.
Details about this study are discussed below. It is important that you understand this information so that you can make an informed choice about being in this research study. 
    </div>

    <div class="qanda">
        <h2>What is the purpose of this study?</h2>
       We are trying to understand how people learn the characteristic pattern of sounds in a language, and to see whether they do it using the same learning processes that are used for learning non-linguistic patterns. 
    </div>

   <div class="qanda">
	<h2>What will happen if you take part in the study?</h2>
You will study words in a made-up foreign language (by listening to them, reading them, and/or
pronouncing them into a microphone), then you will be tested on how well you can distinguish the
words of the made-up language from similar decoys. Finally, you will complete a post-experiment
questionnaire about what you heard in the experiment, and about your language (and musical
background), age, gender, and handedness.
   </div>

<div class="qanda">
	<h2>What are the possible benefits from being in this study?</h2>Research is designed to benefit society by gaining new knowledge. Your participation is important to
help us understand how people learn language, but you may not benefit personally from being in this
research study.
   </div>

<div class="qanda">
	<h2>What are the possible risks or discomforts involved from being in this study?</h2>
We do not think you will experience any discomfort or risk from the experiment. 
   </div>

<div class="qanda">
	<h2>How will your privacy be protected?</h2>We will not record your name, your Mechanical Turk or Prolific Academic ID, your IP address, or any
other personal identifier. There will be no way for anyone to connect you with the data. The anonymous
data from the study will be archived on-line, and may be used by other researchers in the future.
   </div>

<div class="qanda">
	<h2>What if you have questions about this study?</h2>You have the right to ask, and have answered, any questions you may have about this research. If you
have questions, or concerns, you should contact us by phone at 919–962–1192, or by email at
phonlab@unc.edu
   </div>

<div class="qanda">
	<h2>What if you have questions about your rights as a research participant?</h2>
All research on human volunteers is reviewed by a committee that works to protect your rights and
welfare. If you have questions or concerns about your rights as a research subject you may contact,
anonymously if you wish, the Institutional Review Board at 919-966-3113 or by email to
IRB_subjects@unc.edu.

   </div>


    <div id="agreement">
        <h2>Participant’s Agreement:</h2>
        By selecting, &ldquo;I agree,&rdquo; I have read the information provided and
        I voluntarily agree to participate in this research study.
    </div>
{% endblock %}