{% extends "task_base_layout.html.jinja" %}

{% block task_content %}
    <div id="task">
        <p>
            You are (more than) half-way done! Next, on each screen,
            you will continue to hear the name of a city, and see a picture
            of two flags side-by-side. Press “Play Again” if you want to hear
            the name of a city again. Then, click a picture to select the
            country you think that city is in. You will NOT get any feedback.
        </p>
        <p>
            Please click <b>Next</b> to continue.
        </p>
    </div>
{% endblock %}
