
{% extends "task_base_layout.html.jinja" %}

{% set task_script = 'listen' %}

{% block task_content %}
    <div id="task">
        <div id="prompt">
            If you want to hear the name of a city again, press <b>Play</b>.
            When you are done, press <b>Next</b> to continue.
        </div>
        <div id="play-btn-wrapper">
            <button type="button" class="play-btn">
                <span id="play-btn-label">Play</span>
                <img src="{{ exp_img }}/play.svg">
            </button>
        </div>
        <div id="country-flag-wrapper">
        </div>
    </div>
{% endblock %}
